

<form class = "new comedian" action="/comedians" method="post">
  <h1>New Comedian</h1>
  <br>Name: <input type="text" name="comedian[name]" placeholder="Name">
  <br><br>Age: <input type="text" name="comedian[age]" placeholder="Age">
  <br><br>City: <input type="text" name="comedian[city]" placeholder="City">
  <br><br><input type="submit" value="Create Comedian">
</form>
