body{
   background: #594caf;
   background-image: url(http://cdn.woodynody.com/2016/05/25/wallpapers-for-curtains-image-red-curtain-background-hd-wallpapers.jpg)
}

div {
  font-family: Arial;
  padding: 10px;
}

h1{
  color: white;
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
  font-size: 24px;
}

h4{
  text-align: center;
  font-size: 15px;
}

.header {
  background-color: white;
  opacity: 0.5;
  border-radius: 25px;
  font-size: 15px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 5px;
}

#comedians{
  background-color: white;
  margin: 5px;
  opacity: 0.5;
  text-align: center;
  font-size: 12px;
  border-radius: 25px;
}
